<%- model_class = Album -%>
<div class="page-header">
  <h1><%=t '.title', :default => @album.name %></h1>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_album_path(@user, @album), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_album_path(@user,@album),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  
  <br />
  <%= form_tag add_album_path(@album), method: 'get' do %>
    <label for="Add">Share Album(Email)</label>
    <%= text_field_tag :user_email %>
    <%= submit_tag "Submit", :class => 'btn' %>
  <% end %>

</div>

<div id="photos">
  <%= render 'photos/photo' %>
</div>

<div class="form-actions">
  <%= form_for [@user,@album, Photo.new] do |f| %>
    <%= f.label :image, "Upload photos by drag and drop or: " %>
    <%= f.file_field :image, multiple: true, name: "photo[image]" %>
  <% end %>
</div>